*{
    background-color: red;

}
body{
    display: flex;
    
    
}
#button{
    background-color: blue;
    color: red;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    width:80px ;
    cursor: pointer;
}
.image{
    height: 200px;
    width: 100px;
    background-image: url("./1.jpg");
    background-size: cover;
    margin-left: 60px;
}
.image-dark{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}
